<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178247763188-cafmt52q0p5ga5n2vvpa9q9bjlcgpjp1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178247763188-cafmt52q0p5ga5n2vvpa9q9bjlcgpjp1</string>
	<key>API_KEY</key>
	<string>AIzaSyCy2CSNCeTOmw-OUlW3Qc7RU2MitEg3qns</string>
	<key>GCM_SENDER_ID</key>
	<string>178247763188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grocerylists</string>
	<key>PROJECT_ID</key>
	<string>grocery-lists-8377b</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery-lists-8377b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178247763188:ios:83f8f5dfaa062e17360aa1</string>
	<key>DATABASE_URL</key>
	<string>https://grocery-lists-8377b-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>